html{
    background-image: radial-gradient(
    ellipse farthest-corner at center top,
    #fff 0%,
    #ccc 100%
  );
}

.instructions {
  min-height: 100vh;
  width: 100vw;
}

.instructions img {
  display: block;
  width: 100%;
}

.card-wrap {
  padding: 2vh 5vw;
}

.card-text-center {
  background: gray;
}
